
/* Стили для контейнера кнопки */
.lng-theme {
  margin-left: 4%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
  border: none;
  border-radius: 10px;
  color: #333;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Стили для кнопки при наведении */
.lng-theme:hover {
  background-color: #aee8fb;
}

/* Стили для активной кнопки */
.lng-theme.active {
  background-color: #333;
  color: #fff;
}



@media (max-width: 890px) {
  
  .lng-theme {
    /* Стили для кнопки на экранах с шириной меньше 768px */
    padding: 10px; /* Уменьшаем отступы */
    font-size: 0; /* Убираем текст */
    width: 40px; /* Задаем ширину */
    height: 40px; /* Задаем высоту */
    border-radius: 50%; /* Делаем кнопку круглой */
    display: flex; /* Включаем flexbox для позиционирования */
    align-items: center; /* Выравниваем по центру */
    justify-content: center; /* Выравниваем по центру */
  }

  .lng-theme::before {
    /* Стили для псевдоэлемента before */
    content: ""; /* Убираем дефолтное содержание */
    background-image: url("../../../public/img/theme.jpg"); /* Задаем путь к SVG-иконке */
    background-size: contain; /* Помещаем иконку по размеру */
    background-repeat: no-repeat; /* Запрещаем повторение иконки */
    width: 20px; /* Задаем ширину иконки */
    height: 20px; /* Задаем высоту иконки */
  }
  

}